**Make sure to have a copy of the database file, "world-db", downloaded and in this directory for the below to work!**

In [1]:
%load_ext sql
%sql sqlite:///./world-db

The database `world` has 3 tables: 
> * `City`
> * `Country`
> * `CountryLanguage`

Recall that to find the schema of a table, we can type the following command:

In [2]:
%sql SELECT sql FROM sqlite_master ;

 * sqlite:///./world-db
Done.

[("CREATE TABLE `City` (\n  `ID` int(11) NOT NULL,\n  `Name` char(35) NOT NULL DEFAULT '',\n  `CountryCode` char(3) NOT NULL DEFAULT '',\n  `District` c ... (37 characters truncated) ... lation` int(11) NOT NULL DEFAULT '0',\n  PRIMARY KEY (`ID`),\n  CONSTRAINT `city_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `Country` (`Code`)\n)",),
 (None,),
 ("CREATE TABLE `CountryLanguage` (\n  `CountryCode` char(3) NOT NULL DEFAULT '',\n  `Language` char(30) NOT NULL DEFAULT '',\n  `IsOfficial` char(1) NO ... (64 characters truncated) ... '0.0',\n  PRIMARY KEY (`CountryCode`,`Language`),\n  CONSTRAINT `countryLanguage_ibfk_1` FOREIGN KEY (`CountryCode`) REFERENCES `Country` (`Code`)\n)",),
 (None,),
 ("CREATE TABLE `Country` (\n  `Code` char(3) NOT NULL DEFAULT '',\n  `Name` char(52) NOT NULL DEFAULT '',\n  `Continent` char(15) NOT NULL DEFAULT 'Asi ... (392 characters truncated) ... ULT '',\n  `HeadOfState` char(60) DEFAULT NULL,\n  `Capital` int(11) DEFAULT NULL,\n  `Code2` char(2) NOT NULL DEFAULT '',\n  PRIMARY KEY (`Code`)\n)",),
 (None,),
 ("CREATE VIEW OfficialCountryLanguage AS\nSELECT C.Name AS CountryName, L.Language AS Language\nFROM CountryLanguage L, Country C\nWHERE L.CountryCode = C.Code\nAND L.IsOfficial = 'T'",),
 ('CREATE TABLE Author(\r\n    authorid INTEGER PRIMARY KEY,\r\n    name TEXT\r\n)',),
 ('CREATE TABLE Book(\n  bookid INTEGER PRIMARY KEY,\n  title TEXT,\n  author INTEGER,\n  FOREIGN KEY (author) REFERENCES Author(authorid)\n    ON UPDATE SET NULL\n    ON DELETE CASCADE\n)',)]

SINGLE-TABLE QUERIES
-------------------

Let's start with a simple query: what is the population of the USA?

In [3]:
%%sql 
SELECT * 
FROM Country 
WHERE Code = 'USA';

 * sqlite:///./world-db
Done.

[('USA', 'United States', 'North America', 'North America', 9363520.0, 1776, 278357000, 77.1, 8510700.0, 8110900.0, 'United States', 'Federal Republic', 'George W. Bush', 3813, 'US')]

In [4]:
%%sql 
SELECT Population 
FROM Country 
WHERE Code = 'USA';

 * sqlite:///./world-db
Done.

[(278357000,)]

**Exercise #1**: write a query that returns the countries that gained independence after 1989, along with the year they gained independence.

In [ ]:
%%sql 
SELECT * 
FROM Country 
WHERE IndepYear > 1989;

To return all attributes of a table, we use the `*` in the SELECT clause. For instance, the following query returns all the attributes for cities with population over 1 million in the US.

In [ ]:
%%sql 
SELECT *
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Keep in mind that for constants we need to use single quotes!

We can rename an attribute in the output schema by using the SQL command AS. For example:

In [ ]:
%%sql
select Name AS LargeUSACity
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

It is possible to also perform arithmetic operations inside the SELECT clause. For example, to return the population in millions, we can use division.

In [ ]:
%%sql
SELECT Name, Population / 1000000
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Observe that division here behaves as integer division. If we want to get a float value, we can rewrite the above query (similar to type casting):

In [ ]:
%%sql
SELECT Name, Population / 1000000.0
FROM City
WHERE Population >= 1000000 AND CountryCode = 'USA';

Let's do some pattern matching! Find the countries that have a form of goverment that contains the word monarchy

In [ ]:
%%sql
SELECT Name, GovernmentForm
FROM Country
WHERE GovernmentForm LIKE '%monarchy%';

Next, suppose that we want to find out all the different forms a government. Let's try the following:

In [ ]:
%%sql
SELECT GovernmentForm
FROM Country ;

The above query did not return the desired result, because it keeps a separate copy for each occurrence of the same value in the table. To remove the duplicates, we simply need to add the DISTINCT keyword.

In [ ]:
%%sql
SELECT DISTINCT GovernmentForm
FROM Country ;

We can use ORDER BY to order the city population by decreasing population.

In [ ]:
%%sql
SELECT Name, Population/1000000.0 AS Pop
FROM City
WHERE Population >= '1000000'AND CountryCode = 'USA'
ORDER BY Pop DESC;

LIMIT is very useful if we want to look at only a few rows of a table.

In [ ]:
%%sql
SELECT *
FROM City
ORDER BY Population DESC
LIMIT 3;

**Exercise #2**: write a query that returns the two most populous cities in the US.

MULTI-TABLE QUERIES
---------------------

What are the names of all countries that speak Greek? To answer this question, we need to combine information from two tables by *joining* them.

In [ ]:
%%sql
SELECT Country.Name
FROM Country, CountryLanguage
WHERE Country.Code = CountryLanguage.CountryCode
AND CountryLanguage.Language = 'Greek';

Notice how we need to specify the table that each attribute comes from. Another way to write the above query:

In [ ]:
%%sql
SELECT Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek';

**Exercise #3**: write a query that returns the countries that speak at least 50% Greek.

**Exercise #4**: write a query that returns the district of the capital of USA.

Next, we want to return the countries that speak both Greek and English.

In [ ]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L1, CountryLanguage L2
WHERE C.Code = L1.CountryCode
AND C.Code = L2.CountryCode
AND L1.Language = 'Greek'
AND L2.Language = 'English';

Alternatively, we can write the above query using INTERSECT.

In [ ]:
%%sql
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'Greek'
INTERSECT
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'English' ;

Which countries have population more than 100 million and do not speak English?

In [ ]:
%%sql
SELECT C.Name
FROM Country C
WHERE C.Population >= 100000000
EXCEPT
SELECT C.Name
FROM Country C, CountryLanguage L
WHERE C.Code = L.CountryCode
AND L.Language = 'English' ;