NULLS AND OUTER JOINS IN SQL
-----

In [1]:
%load_ext sql
%sql sqlite:///world-db

Nulls exhibit weird behavior in SQL. For example, SQLite allows to divide a `NULL` with a 0, even though the result should mathematically be undefined.

In [2]:
%sql SELECT (NULL/0);

 * sqlite:///world-db
Done.

[(None,)]

In the table `Country`, many rows have `NULL` as an entry for the attribute `IndepYear`. Thus, the below query will not count *all* countries, since the ones with  `NULL` will return UNKNOWN in the comparison condition, and so will not be included in the final answer.

In [3]:
%%sql
SELECT COUNT(*)
FROM Country
WHERE IndepYear < 2020;

 * sqlite:///world-db
Done.

[(192,)]

In [4]:
%sql SELECT COUNT(*) FROM Country;

 * sqlite:///world-db
Done.

[(239,)]

The following query does *not* count the countries with `NULL` value, since a row with `NULL` will evaluate both conditions to `UKNNOWN`, and `UNKNOWN` OR `UNKNOWN` = `UNKNOWN`.

In [5]:
%%sql
SELECT COUNT(*)
FROM Country
WHERE IndepYear > 1990 OR IndepYear <= 1990 ;

 * sqlite:///world-db
Done.

[(192,)]

To overcome this issue, we can use a condition that explicitly checks for `NULL`.

In [6]:
%%sql
SELECT COUNT(*)
FROM Country
WHERE IndepYear > 1990 OR IndepYear <= 1990 OR IndepYear IS NULL;

 * sqlite:///world-db
Done.

[(239,)]

In [ ]:
%%sql
SELECT C.Name AS Country, MAX(T.Population) AS N
FROM Country C 
INNER JOIN  City T ON C.Code = T.CountryCode
GROUP BY C.Name;

The above query misses countries that do not have any city in the `City` table. We can also include these countries by using a **left outer join**.

In [ ]:
%%sql
SELECT C.Name AS Country, MAX(T.Population)
FROM Country C 
LEFT OUTER JOIN City T ON C.Code = T.CountryCode
GROUP BY C.Name ;