SET OPERATORS IN SQL
--------------------

In [1]:
%load_ext sql
%sql sqlite://

In [2]:
# Create tables & insert some numbers
%sql DROP TABLE IF EXISTS R; DROP TABLE IF EXISTS S; DROP TABLE IF EXISTS T;
%sql CREATE TABLE R (A int); CREATE TABLE S (A int); CREATE TABLE T (A int);
%sql INSERT INTO R VALUES (1),(1),(1),(2),(3);
%sql INSERT INTO S VALUES (1),(1),(2),(2),(4),(5);
%sql INSERT INTO T VALUES (1),(4),(6),(7);

 * sqlite://
Done.
Done.
Done.
 * sqlite://
Done.
Done.
Done.
 * sqlite://
5 rows affected.
 * sqlite://
6 rows affected.
 * sqlite://
4 rows affected.

[]

The three tables $R,S,T$ have one attribute ($A$) and contain:
* R = {1,1,1,2,3}
* S = {1,1,2,2,4,5}
* T = {1,4,6,7}
 
The tables $R$ and $S$ are *multisets*, since they contain multiple copies of the same tuple.

The INTERSECT operator in SQL computes the tuples that occur in both relations, but outputs *only one* copy of each.

In [3]:
%sql select * from R

 * sqlite://
Done.

[(1,), (1,), (1,), (2,), (3,)]

In [ ]:
%%sql
SELECT A from R 
INTERSECT
SELECT A from S;

We can also express the above query without using a set operator!

In [ ]:
%%sql
SELECT DISTINCT R.A
FROM R, S
WHERE R.A = S.A ;

The UNION operator in SQL computes the tuples that occur in at least one relation, but outputs *only one* copy of each.

In [ ]:
%%sql
SELECT A from R 
UNION 
SELECT A from S;

The EXCEPT operator in SQL computes the tuples that occur in $R$ but not in $S$. It also outputs *only one* copy of each.

In [ ]:
%%sql
SELECT A from S
EXCEPT 
SELECT A from R;

If we add the keyword ALL after the set operator, then SQL will compute the corresponding *multiset* operator. SQLite supports only UNION ALL. See what happens if we run the query from above with UNION ALL instead of UNION.

In [ ]:
%%sql
SELECT A from R 
UNION ALL
SELECT A from S;

Finally, let's write a query that computes $R \cap (S \cup T)$. Note that if we use more than one set operators, SQLite groups them from left to right.

In [ ]:
%%sql
SELECT A from S
UNION 
SELECT A from T
INTERSECT
SELECT A from R ;

Alternatively, we can express the above query without set operators.

In [ ]:
%%sql
SELECT DISTINCT R.A
FROM R, S, T
WHERE R.A = S.A OR R.A = T.A;